
.row{
    width: 100%;
    background-color: rgb(255, 255, 255); 
    display: block;
}
.col{
    height: 420px;
    width: 330px;
    border: 2px black;
    border-radius: 20px;
    background-color: rgba(97, 54, 54, 0);
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: 30px;
}
.row2{
    /* width: 100%; */
    /* height: 500px; */
    background-color: rgba(7, 21, 70, 0);
    /* display:flex;
    flex-wrap: wrap; */
    justify-content: space-evenly;
    
   
}

.col2{
    height: 450px;
    width: 19%;
    border: 2px black;
    border-radius: 20px;
    transition: ease-in-out;
    display: flex;
 
    flex-wrap: wrap;

   
}
.col-1{
    background-color: black; 
    
  
}

.col-3{
    background-color: black;
    display: flex;
 
}
.col-4{
    background-color: black;
    display: flex;
 
}
.col-5{
    background-color:black;
    display: flex;
 
}
h1{
    color: white;
    text-align: center;
    
       

}
.basediv{
    background-color: rgba(255, 0, 47, 0);
    width: 100%;
    height: 150px;
    display: block;
   
}

/* a{
    text-decoration:none ;
    
    color: rgb(5, 246, 5);
    float: left;
    margin-left: 30px;
   
} */
button{
    
    background-color: rgb(5, 246, 5);
    color: black;
    text-align: center;
    border-radius: 11px;
    margin-left: 38%;
    height: 28px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;

    
}

img {
    margin-top: 20px;
    height: 267px;
    width: 100%;
    border: 2px black;
    border-radius: 20px;
}
span{
    color: rgb(5, 246, 5);
}
#g1{
    color: rgb(5, 246, 5);
}
p{
    color: white;
     padding-left: 38%;
}

/* #g2{
    height: 34px;
    width: 448px;
    margin-left: 253px;
    margin-bottom: 65px;
    
}
label{
    color: white;
} */

.backdiv{
    background-image: url(./food_images/food1.jpg);
    height: 500px;
    display: block;
}

.col :hover{
    transform: scale(.70);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: rgba(5, 246, 5, 0.39);

}
/* .g3{
    height: 150px;
    background-color: blueviolet;
    display: block;
} */

.head{
    /* width: 100%; */
    height: 50px;
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
    display:block;
}
.secondhead{
    /* width: 100%; */

    display: block;
    height: 100px;
    background-color: black;
}
.sh1{
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
    color: rgb(5, 246, 5);

}
.sh2{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: rgb(5, 246, 5);

}
.input1{
    width: 20%;

}
.a{
    margin-left: 1%;
    text-decoration: none;
}

.main{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
}

body{
    background-color: black;
}



